<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeachMintTask"
        tools:targetApi="31">
        <activity
            android:name=".RepoDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".Contributor"
            android:exported="false" />

        <activity
        android:name=".ContributorAdapter"
        android:exported="false" />

        <activity
            android:name=".MainViewModel"
            android:exported="false" />

        <activity
            android:name=".RepoAdapter"
            android:exported="false" />

        <activity
            android:name=".RepoDetails"
            android:exported="false" />

        <activity
            android:name=".RepoDetailsViewModel"
            android:exported="false" />

        <activity
            android:name=".RepoSearchResponse"
            android:exported="false" />

        <activity
            android:name=".Repository"
            android:exported="false" />

        <activity
            android:name=".YourDataModel"
            android:exported="false" />

        <activity
            android:name=".YourViewModel"
            android:exported="false" />


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>